# Python virtual environment
dbt_env/
venv/
env/
.env/

# dbt files
target/
dbt_packages/
logs/
.user.yml

# Mac OS
.DS_Store

# Python files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg 